@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap');


.Maldives__App {
  margin: 0;
  padding: 0;
  width: 372px;
  height: 471px;
  border-radius: 10px;
}

.App__background {
  background-size: cover;
}

.App__title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 28px;
}

.App__desc {
  color: #7B8591;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 500px;
  height: 88px;
  width: 291px;
}